<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.elgato.autolights.daemon.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/elgato.autolights/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/tmp/elgato.autolights/stdout.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/tmp/elgato.autolights</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>{path to git}/elgatokeylight/autolights.sh</string>
      <string>{path to file containing ips}</string>
    </array>

  </dict>
</plist>
